body {
	font-family: "Roboto", sans-serif;
}

.content {
	max-width: 800px;
	margin: 0px auto;
	margin-top: 16px;
	border-radius: 24px;
}

.content-title {
	font-size: 30px;
	text-align: center;
	padding-bottom: 12px;
}

.content-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.emotion-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto 16px;
	max-width: 470px;
}

.start-emotion {
	padding: 10px;
	margin: 10px 15px;
	border-radius: 12px;
	box-shadow: 2px 2px 3px #444444;
}

.emotion {
	padding: 10px;
	margin: 10px 15px;
	background-color: lightblue;
	border-radius: 12px;
	box-shadow: 2px 2px 3px #444444;
	/* width: min-content; */
}

.emotion:hover {
	box-shadow: 4px 4px 5px #444444;
	cursor: pointer;
}

.start-emotion:hover {
	box-shadow: 4px 4px 5px #444444;
	cursor: pointer;
}

.question-prompt {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	margin-bottom: 15px;
}

.start-over {
	margin: 0px auto 16px;
	background-color: lightgreen;
	border-radius: 24px;
	text-align: center;
	padding: 10px;
	position: fixed;
	top: 10px;
	right: 10px;
	box-shadow: 2px 2px 3px #444444;
}

.large {
	font-size: 30px;
}

.start-over:hover {
	box-shadow: 4px 4px 5px #444444;
	cursor: pointer;
}

.result-title {
	font-style: italic;
	font-size: 30px;
	text-align: center;
}

#result-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.result-card {
	margin: 10px;
	padding: 5px;
	max-width: 210px;
	box-shadow: 2px 2px 3px #444444;
}

.result-card:hover {
	cursor: pointer;
	box-shadow: 4px 4px 5px #444444;
}

.thumbnail * {
	pointer-events: none;
}

.card-title {
	text-align: left;
	font-weight: bold;
	pointer-events: none;
}

.card-label {
	pointer-events: none;
}

#modal-wrapper {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #444444;
}

.modal-dialog {
	background: white;
	position: fixed;
	width: 90vw;
	max-width: 900px;
	padding-bottom: 50px;
	margin: 5vh auto;
}

.modal-close {
	text-align: right;
}

.modal-close > i {
	font-size: 35px;
}

.modal-close:hover {
	cursor: pointer;
}

#modal-content {
	margin-left: 10px;
}

#modal-title {
	font-size: 24px;
	font-weight: bold;
	margin-left: 10px;
	padding-bottom: 8px;
}

.modal-iframe {
	width: 85vw;
	max-width: 800px;
	height: 400px;
}
